
.content {
    text-align: center;
}

.sketch-board {
    border-style: solid;
    border-color: black;
    border-width: 10px;
    width: 490px;
    height: 490px;
    margin: 20px auto;   
    display: grid;


}

.pixel {
    border: 1px solid rgba(7, 7, 7, 0.178);
    border-opa
}

    